@charset "utf-8";

@import url('./common.css');

main{
    margin-top:100px;
    /* border:1px solid red; */
}

main .logo{
    height:100px;
}
main .logo a{
    margin:0px auto;
    display:block;
    text-align:center;
}
main .logo a p{
    /* border:1px solid coral; */
    text-transform:uppercase;
    font-size:2rem;
    font-weight:bold;
}



main .navi-bar{
    width:80px;
    height:300px;
    /* border:1px solid black; */
    position:fixed;
    left:85%; top:50%;
    z-index:100;
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    flex-wrap:wrap;
    text-align:center;

}
main .navi-bar .bar{
    width:100%;
    height:80%;
    padding:10px 0;
    position:absolute;
    top:0; left:0;
    background-color:#FFD2B1;
    color:#804343;
    font-size:14px;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius:10px;
    text-align:center;
}

main .navi-bar .bar div::after{
    content:'';
    width:70px;
    height:70px;
    border-radius:100px;
    background-color:white;
}

main .kakao{
    position:absolute;
    top:82%;
    width:100%;
    height:20%;
}
main .kakao a img{
    width:80%;
    margin:0px auto;
}
main .kakao a p{
    white-space: pre-line;
    margin-top:10px;
    font-size:12px;
    color:#969696;
}
/* ====================================================================================== */
@media (max-width:767px) {
    main {
        margin-top: 100px;
        /* border:1px solid red; */
        width: 100%;
        
    }

    main .logo {
        width: 100%;
        position: relative;
        height: 200px;
    }

    main .logo a {
        display: block;
        text-align: center;
        margin:0 auto;
    }

    main .logo a p {
        /* border:1px solid coral; */
        text-transform: uppercase;
        font-size: 3em;
        font-weight: bold;
        
    }

    main .navi-bar {
        width: 8%;
        height: 30%;
        /* border:1px solid black; */
        position: fixed;
        left: 80%;
        top: 45%;
        z-index: 100;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: wrap;
        text-align: center;
    }

    main .navi-bar .bar {
        width: 100%;
        height: 80%;
        padding: 10px 0;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #FFD2B1;
        color: #804343;
        font-size: 1em;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        border-radius: 10px;
        text-align: center;
        display:none;
    }

    main .navi-bar .bar div::after {
        content: '';
        width: 70px;
        height: 70px;
        border-radius: 100px;
        background-color: white;
    }

    main .kakao {
        position: absolute;
        top: 82%;
        width: 100%;
        height: 20%;
    }

    main .kakao a img {
        width: 80%;
        margin: 0px auto;
    }

    main .kakao a p {
        white-space: pre-line;
        margin-top: 10px;
        font-size: 0.7em;
        color: #969696;
    }
}

@media (min-width:768px) and (max-width:1024px) {
    main {
        margin-top: 100px;
        /* border:1px solid red; */
        width: 100%;
        
    }

    main .logo {
        width: 100%;
        position: relative;
        height: 200px;
    }

    main .logo a {
        display: block;
        text-align: center;
        margin:0 auto;
    }

    main .logo a p {
        /* border:1px solid coral; */
        text-transform: uppercase;
        font-size: 2em;
        font-weight: bold;
        
    }

    main .navi-bar {
        width: 8%;
        height: 30%;
        /* border:1px solid black; */
        position: fixed;
        left: 80%;
        top: 45%;
        z-index: 100;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: wrap;
        text-align: center;
        display:none;
    }

    main .navi-bar .bar {
        width: 100%;
        height: 80%;
        padding: 10px 0;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #FFD2B1;
        color: #804343;
        font-size: 1em;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        border-radius: 10px;
        text-align: center;
    }

    main .navi-bar .bar div::after {
        content: '';
        width: 70px;
        height: 70px;
        border-radius: 100px;
        background-color: white;
    }

    main .kakao {
        position: absolute;
        top: 82%;
        width: 100%;
        height: 20%;
    }

    main .kakao a img {
        width: 80%;
        margin: 0px auto;
    }

    main .kakao a p {
        white-space: pre-line;
        margin-top: 10px;
        font-size: 0.7em;
        color: #969696;
    }
}
/* ==================================================================================== */

main h1{
    font-size:3rem;
    padding:5px 10px;
    margin-top:150px;
    text-align:center;
    font-weight:normal;
}

/* ============================================== */

@media (max-width:767px){
    main h1{
        font-size:2rem;
        padding:5px 10px;
        margin-top:50px;
        text-align:center;
        font-weight:normal;
    }
}
@media (min-width:768px) and (max-width:1024px){
    main h1{
        font-size:2rem;
        padding:5px 10px;
        margin-top:50px;
        text-align:center;
        font-weight:normal;
    }
}
/* =================================================== */


main .bg{
    height:1200px;
    background-color: #F9EFE4;
    margin-top:150px;
    position:relative;
}
main .bg .intro{
    width:80%;
    position:absolute;
    top:10%; left:10%;
    text-align:center;
}

main .bg .intro p{
    font-size:15px;
}

main .bg .intro p:nth-of-type(2){
    font-size:2rem;
}
main .bg .intro p span{}
main .bg .intro p span:nth-of-type(1){
    color:#c47943;
}
main .bg .intro p span:nth-of-type(2){
    color:rgb(100, 159, 80);
}

main .bg .maptxt{
    /* border:1px solid white; */
    width:70%;
    height:700px;
    text-align:center;
    margin-top:150px;
    display:flex;
    justify-content: space-around;
    position:absolute;
    top:15%; left:15%;
}

main .bg .map{
    width:40%;
    display:block;
}
main .bg .map iframe{
    width:100%;
    height:80%;
    margin:10% 0px 0;
    /* border:1px solid rgb(97, 97, 97); */
}


main .bg .map p{

}

main .bg .txt{
    width:40%;
    display:block;
    height:80%;
    margin:5% 0 0;
    white-space: pre-line;
}
main .bg .txt p{
    margin-bottom:10px;
}
main .bg .txt p:nth-of-type(1){}


main .bg .txt div{
    display:inline-block;
}
main .bg .txt div p{
    font-size:15px;
}

/* ======================================================================= */
@media (max-width:767px){
    main .bg{
        height:1000px;
        background-color: #F9EFE4;
        margin-top:150px;
        position:relative;
    }
    main .bg .intro{
        width:80%;
        position:absolute;
        top:10%; left:10%;
        text-align:center;
    }
    
    main .bg .intro p{
        font-size:1em;
    }
    
    main .bg .intro p:nth-of-type(2){
        font-size:2rem;
    }
    main .bg .intro p span{}
    main .bg .intro p span:nth-of-type(1){
        color:#c47943;
    }
    main .bg .intro p span:nth-of-type(2){
        color:rgb(100, 159, 80);
    }
    
    main .bg .maptxt{
        /* border:1px solid white; */
        width:70%;
        height:700px;
        text-align:center;
        margin-top:100px;
        display:flex;
        justify-content: space-around;
        position:absolute;
        top:15%; left:15%;
    }
    
    main .bg .map{
        width:40%;
        display:block;
    }
    main .bg .map iframe{
        width:100%;
        height:80%;
        margin:10% 0px 0;
        /* border:1px solid rgb(97, 97, 97); */
    }
    
    main .bg .map p{
    }
    main .bg .txt{
        width:40%;
        display:block;
        height:80%;
        margin:5% 0 0;
        white-space: pre-line;
    }
    main .bg .txt p{
        margin-bottom:10px;
    }
    main .bg .txt p:nth-of-type(1){}
    
    
    main .bg .txt div{
        display:inline-block;
    }
    main .bg .txt div p{
        font-size:0.8em;
    }

}


@media (min-width:768px) and (max-width:1024px){
    main .bg{
        height:1000px;
        background-color: #F9EFE4;
        margin-top:150px;
        position:relative;
    }
    main .bg .intro{
        width:80%;
        position:absolute;
        top:10%; left:10%;
        text-align:center;
    }
    
    main .bg .intro p{
        font-size:1em;
    }
    
    main .bg .intro p:nth-of-type(2){
        font-size:2rem;
    }
    main .bg .intro p span{}
    main .bg .intro p span:nth-of-type(1){
        color:#c47943;
    }
    main .bg .intro p span:nth-of-type(2){
        color:rgb(100, 159, 80);
    }
    
    main .bg .maptxt{
        /* border:1px solid white; */
        width:70%;
        height:700px;
        text-align:center;
        margin-top:100px;
        display:flex;
        justify-content: space-around;
        position:absolute;
        top:15%; left:15%;
    }
    
    main .bg .map{
        width:40%;
        display:block;
    }
    main .bg .map iframe{
        width:100%;
        height:80%;
        margin:10% 0px 0;
        /* border:1px solid rgb(97, 97, 97); */
    }
    
    main .bg .map p{
    }
    main .bg .txt{
        width:40%;
        display:block;
        height:80%;
        margin:5% 0 0;
        white-space: pre-line;
    }
    main .bg .txt p{
        margin-bottom:10px;
    }
    main .bg .txt p:nth-of-type(1){}
    
    
    main .bg .txt div{
        display:inline-block;
    }
    main .bg .txt div p{
        font-size:0.8em;
    }
}
/* ================================================================ */


main .promise{
    margin-top:200px;
    text-align:center;
    margin-bottom:200px;
}
main .promise .protitle{
    display:flex;
    width:50%;
    margin:70px auto 30px;
    justify-content: space-evenly;

}
main .promise .protitle img{
    width:8%;
    height:80%;
    opacity:70%;
}
main .promise .protitle p{
    font-size:15px;
}    

main .promise > p{
    font-size:2rem;
}

main .promise .proimg{
    /* border:1px solid red; */
    width:70%;
    margin:100px auto;
    display: flex;
    justify-content: space-between;
}
main .promise .proimg figure{
    display:block;
    width:30%;
}
main .promise .proimg figure img{
    width:100%;
}
main .promise .proimg figure figcaption{
    font-size:15px;
    margin-top:30px;
}

/* ==================================================== */

@media (max-width:767px){
    main .promise{
        margin-top:100px;
        text-align:center;
        margin-bottom:150px;
    }
    main .promise .protitle{
        display:flex;
        width:50%;
        margin:70px auto 30px;
        justify-content: space-evenly;
    
    }
    main .promise .protitle img{
        width:8%;
        height:80%;
        opacity:70%;
    }
    main .promise .protitle p{
        font-size:1em;
    }    
    
    main .promise > p{
        font-size:2rem;
    }
    
    main .promise .proimg{
        /* border:1px solid red; */
        width:70%;
        margin:100px auto;
        display: flex;
        justify-content: space-between;
    }
    main .promise .proimg figure{
        display:block;
        width:30%;
    }
    main .promise .proimg figure img{
        width:100%;
    }
    main .promise .proimg figure figcaption{
        font-size:15px;
        margin-top:30px;
    }
}

@media (min-width:768px) and (max-width:1024px){
    main .promise{
        margin-top:100px;
        text-align:center;
        margin-bottom:150px;
    }
    main .promise .protitle{
        display:flex;
        width:50%;
        margin:70px auto 15px;
        justify-content: space-evenly;
    
    }
    main .promise .protitle img{
        width:8%;
        height:80%;
        opacity:70%;
    }
    main .promise .protitle p{
        font-size:1em;
    }    
    
    main .promise > p{
        font-size:2rem;
    }
    
    main .promise .proimg{
        /* border:1px solid red; */
        width:70%;
        margin:100px auto;
        display: flex;
        justify-content: space-between;
    }
    main .promise .proimg figure{
        display:block;
        width:30%;
    }
    main .promise .proimg figure img{
        width:100%;
    }
    main .promise .proimg figure figcaption{
        font-size:15px;
        margin-top:30px;
    }
}